:root {
  --dark: #1d1f21;
  --light: #fff;
  --primary: #0099ff;
  --secondary: #df1440;
}

body {
  background-color: var(--dark);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  min-width: 350px;
}

@media (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}

header {
  padding-inline: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: clamp(500px, 93vh, 2200px);
}

.heyThere {
  width: max(400px, 80%);
  margin-bottom: 8vh;
  display: none;
}

@media (min-width: 768px) {
  .heyThere {
    display: block;
  }
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--light);
  margin: 0;
  margin-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--light);
  margin: 0;
  margin-bottom: 22px;
  margin-left: -2px;
  line-height: 0.9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

.contactIcons {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.icon {
  width: 2.5rem;
}

.wavySection {
  width: 100%;
  height: clamp(700px, 92vh, 1050px);
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait) {
  .wavySection {
    height: 600px;
  }
}

.wavyDividerTop {
  margin-bottom: -1px;
}

.wavySectionContainer {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  position: relative;
}

.sun {
  width: 300px;
  opacity: 12%;
}

@media (min-width: 900px) {
  .sun {
    width: 400px;
  }
}

.aboutMe,
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutMe {
  color: var(--dark);
  text-align: center;
  z-index: 1;
  font-weight: 500;
  font-size: 1rem;
  width: 30ch;
  line-height: 1.4;
  margin-top: -0.4vh;
}

@media (min-width: 500px) {
  .aboutMe {
    width: 41ch;
  }
}

@media (min-width: 900px) {
  .aboutMe {
    font-size: 1.6rem;
  }
}

.wavyDividerBottom {
  transform: rotate(180deg);
  margin-top: -2px;
}

.latestProjectHeaderText {
  color: var(--light);
  font-weight: 800;
  font-size: 2rem;
  margin-top: 0;
}

@media (orientation: portrait) {
  .latestProjectHeaderText {
    margin-top: 50px;
  }
}

.latestProject {
  padding-inline: 10%;
  height: clamp(700px, 87vh, 1050px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (orientation: portrait) {
  .latestProject {
    height: 800px;
  }
}

.latestProjectDescription {
  color: var(--light);
  z-index: 1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: -0.4vh;
  max-width: 55ch;
  margin-bottom: 50px;
}

@media (min-width: 900px) {
  .latestProjectHeaderText {
    font-size: 3rem;
  }
  .latestProjectDescription {
    font-size: 1.4rem;
  }
}

.latestProjectButton {
  padding: 0.7em 2em;
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--dark);
  align-self: flex-start;
  border-radius: 100px;
}

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  color: var(--dark);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.footerContainer {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.email {
  margin-top: -15px;
  color: var(--dark);
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

/* Scrollbar */

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--dark);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light);
}
